.appContainer {
  display: flex;
  font-size: 10px;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
  background-image: url("resources/capture.jpg");
  height: 100vh;
  background-size: cover;
}